<ngx-helper-section>
    <ngx-helper-section-column>
        <ngx-helper-card [title]="'آیکون'" [icon]="icon" [padding]="'5rem'">
            <page-card-content>آیکون</page-card-content>
        </ngx-helper-card>
    </ngx-helper-section-column>
    <ngx-helper-section-column>
        <ngx-helper-card [title]="'کلید'" [actions]="buttons" [padding]="'5rem'">
            <page-card-content>کلید</page-card-content>
        </ngx-helper-card>
    </ngx-helper-section-column>
    <ngx-helper-section-column>
        <ngx-helper-card [title]="'منو'" [actions]="menu" [padding]="'5rem'" [backgroundColor]="'var(--primary-fixed)'">
            <page-card-content>منو</page-card-content>
        </ngx-helper-card>
    </ngx-helper-section-column>
</ngx-helper-section>

<br />
<ngx-helper-card [title]="'همه موارد'" [icon]="icon" [actions]="actions" [padding]="'0'">
    <page-card-content>همه موارد</page-card-content>
</ngx-helper-card>
