<header>
    <div class="header">
        <button mat-icon-button type="button" [matMenuTriggerFor]="pageMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #pageMenu="matMenu" [dir]="'rtl'">
            <div class="menu-content">
                <button mat-menu-item [routerLink]="['/page-group']" [disabled]="header === 'PAGE-GROUP'">
                    گروه صفحه‌ها
                </button>
            </div>
            <div class="menu-content">
                <button mat-menu-item [routerLink]="['/section']" [disabled]="header === 'SECTION'">صفحه بندی</button>
            </div>
            <div class="menu-content">
                <button mat-menu-item [routerLink]="['/card']" [disabled]="header === 'CARD'">کارت‌ها</button>
            </div>
            <mat-divider></mat-divider>
            <div class="menu-content">
                <button mat-menu-item [routerLink]="['/pipes']" [disabled]="header === 'PIPES'">پایپ‌ها</button>
            </div>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="['/']" [disabled]="!header">صفحه اصلی</button>
        </mat-menu>

        <div class="library">
            <div class="library-title en" [class.has-header]="!!header">ngx-helper-m3</div>
            @if (header) {
            <div class="library-header">{{ header }}</div>
            }
        </div>
        <div [style.flex]="1"></div>
        <div class="icon">
            <mat-icon>{{ colorMode === 'LIGHT' ? 'dark_mode' : 'light_mode' }}</mat-icon>
            <div class="key en">CTRL + SHIFT + ALT + C</div>
        </div>
    </div>
</header>

<content>
    <div class="seperator"></div>
    <div class="content" [class.mobile]="isMobile"><router-outlet /></div>
</content>

@if (isMobile) {
<footer></footer>
}
