<ngx-helper-section [gapSize]="gapSize">
    <ngx-helper-section-column [flex]="2" [sticky]="'DESKTOP'">
        <page-section-content>1-1<br />Sticky: DESKTOP</page-section-content>
        <page-section-content>1-2</page-section-content>
        <page-section-content>1-3</page-section-content>
    </ngx-helper-section-column>
    <ngx-helper-section-column [flex]="3" [sticky]="'MOBILE'">
        <page-section-content>2-1<br />Sticky: MOBILE</page-section-content>
    </ngx-helper-section-column>
    <ngx-helper-section-column [flex]="3" [sticky]="true">
        <page-section-content>3-1<br />Sticky: ALWAYS</page-section-content>
    </ngx-helper-section-column>
    <ngx-helper-section-column [width]="'15rem'">
        <page-section-content>4-1</page-section-content>
        <page-section-content>4-2</page-section-content>
        <page-section-content>4-3</page-section-content>
        <page-section-content>4-4</page-section-content>
        <page-section-content>4-5</page-section-content>
        <page-section-content>4-6</page-section-content>
        <page-section-content>4-7</page-section-content>
        <page-section-content>4-8</page-section-content>
    </ngx-helper-section-column>
</ngx-helper-section>
