<section>
    <header class="en">
        <div class="title">NgxHelperConfirmService</div>
        <button mat-button (click)="confirmType = confirmType === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG'">
            {{ confirmType === 'DIALOG' ? 'BOTTOMSHEET' : 'DIALOG' }}
        </button>
    </header>
    <div class="buttons">
        <button mat-flat-button type="button" (click)="confirm('VERIFY')">تایید</button>
        <button mat-flat-button type="button" class="error" (click)="confirm('DELETE')">حذف</button>
        <button mat-flat-button type="button" (click)="confirm('ACTIVE')">فعال</button>
        <button mat-flat-button type="button" class="error" (click)="confirm('DEACTIVE')">غیرفعال</button>
    </div>
</section>

<section>
    <header class="en">
        <div class="title">NgxHelperContainerService</div>
    </header>
    <div class="buttons">
        <button mat-flat-button type="button" (click)="container('DIALOG', '1')">دیالوگ ۱</button>
        <button mat-flat-button type="button" (click)="container('DIALOG', '2')">دیالوگ ۲</button>
        <button mat-flat-button type="button" (click)="container('BOTTOMSHEET', '1')">باتم‌شیت ۱</button>
        <button mat-flat-button type="button" (click)="container('BOTTOMSHEET', '2')">باتم‌شیت ۲</button>
    </div>
</section>

<section>
    <header class="en">
        <div class="title">ngxHelperHttpService</div>
    </header>
    <div class="buttons">
        <input type="file" [style.display]="'none'" (change)="upload($event)" #fileInput />
        <button mat-flat-button type="button" (click)="fileInput.value = ''; fileInput.click()">Upload</button>
    </div>
</section>

<section>
    <header class="en">
        <div class="title">ngxHelperToastService</div>
    </header>
    <div class="buttons">
        <button mat-flat-button type="button" (click)="toast('INFO')">INFO</button>
        <button mat-flat-button type="button" (click)="toast('SUCCESS')">SUCCESS</button>
        <button mat-flat-button type="button" (click)="toast('WARNING')">WARNING</button>
        <button mat-flat-button type="button" (click)="toast('ERROR')">ERROR</button>
    </div>
</section>

<section>
    <header class="en">
        <div class="title">LOADER</div>
    </header>
    <div class="loaders">
        <ngx-helper-loader [mode]="'SPINNER'"></ngx-helper-loader>
        <ngx-helper-loader [mode]="'DOTS-SPINNER'"></ngx-helper-loader>
        <ngx-helper-loader [mode]="'WHEEL-SPINNER'"></ngx-helper-loader>
    </div>
</section>
