<div [style.background-color]="'var(--tertiary-container)'">
    <button type="button" mat-icon-button (click)="dataChanged(3)"><mat-icon>add</mat-icon></button>
    {{ item.title }}
    <button type="button" mat-icon-button (click)="dataChanged(-3)"><mat-icon>remove</mat-icon></button>
</div>
<div [style.background-color]="'var(--surface-container-highest)'">{{ item.title }}</div>
<div [style.background-color]="'var(--outline-variant)'">{{ item.title }}</div>
<div [style.background-color]="'var(--primary-container)'">{{ item.title }}</div>
<div [style.background-color]="'var(--secondary-container)'">{{ item.title }}</div>
