<mat-icon>{{ item.icon }}</mat-icon>

<content>
    <div class="time">
        <div>{{ data.date | ngxHelperDate : { format: 'H' } }}</div>
        <span>:</span>
        <div>{{ data.date | ngxHelperDate : { format: 'I' } }}</div>
    </div>
    <div class="data">
        <div class="item">صفحه {{ item.index + 1 }} از ۵</div>
        <div class="title">{{ item.title }}</div>
    </div>
    <div class="counter">شمارنده: {{ data.counter | ngxHelperNumber }}</div>
</content>

<mat-icon>{{ item.icon }}</mat-icon>
