@use '@angular/material' as mat;

:root .error {
    @include mat.button-overrides(
        (
            text-label-text-color: var(--error),
            outlined-label-text-color: var(--error),
            outlined-outline-color: var(--error),
            filled-container-color: var(--tertiary),
            filled-label-text-color: var(--on-tertiary),
        )
    );
}

:root,
body.dark {
    @include mat.dialog-overrides(
        (
            container-max-width: 400px,
            container-small-max-width: 400px,
        )
    );
}

body.dark {
    @include mat.dialog-overrides(
        (
            container-color: var(--surface-container),
        )
    );
}
